* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    line-height: 1.6;
    height: 100vh; /* Screen size (important) */
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-weight: 500;
}

.navbar a:hover {
    color: skyblue;
    border-color: skyblue;
}

.navbar__list a:hover {
    border-bottom: solid 3px skyblue;
    padding-bottom: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar__btn {
    margin: 0 2rem;
    padding: 7px 32px;
    text-decoration: none;
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    color: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar__logo {
    margin: 0 2rem;
    padding: 0.2rem;
    font-size: 40px;
    color: #f4f4f4;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Screen size (important) */
    width: 100%;
    color: #f4f4f4f4;
    scroll-snap-align: start;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

.section__home {
    background: linear-gradient(
        to right,
        #f4f4f4 0%,
        #f4f4f4 50%,
        #CCCCFF 50%,
        #9A67FF 100%
    );
}

.section__about {
    background-color: blueviolet;
}

.section__contacts {
    background-color: blue;
}

.section__services {
    background-color: red;
}

/* Btn */

.box {
    margin-top: -10%;
    margin-bottom: 10%;
}
  
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .5s;
}
  
.btn-white{
    background: linear-gradient(
        to right,
        #9A67FF 0%,
        #CCCCFF 40%,
        #f4f4f4 60%,
        #f4f4f4 100%
    );
    color:#000;
    font-weight: 600;
}
  
.btn:hover{
     box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
     transform: translateY(-3px);
}
  
.btn:active{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}
  
.btn-bottom-animation-1{
    animation: comeFromBottom 1s ease-out .8s;
}
  
.btn::after{
    content:"";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
}
  
.btn-white::after {
    background: linear-gradient(
        to right,
        #9A67FF 0%,
        #CCCCFF 40%,
        #f4f4f4 60%,
        #f4f4f4 100%
    );;
}
  
.btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
}
  
@keyframes comeFromBottom{
    0%{
      opacity: 0;
      transform: translateY(40px);
    } 
    100%{
      opacity:1;
      transform: translateY(0);
    }
}

/* Btn end */